<h2>Products</h2>
<button
  type="button"
  class="mat-focus-indicator mat-raised-button mat-primary"
  (click)="share()"
>
  Notify Me
</button>
<div *ngFor="let product of porductss">
  <h3>
    {{ product.id }}
    <a
      [title]="[product.name + 'details']"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.isDisplay">{{ product.price }}</p>
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
